.App {
  text-align: center;
}

.App-content {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}

label + label,
button + button {
  margin: 16px;
}

.Error-label {
  color: #dd2222;
}
